
.container {
  display: flex;
  justify-content: flex-start; /* Выравнивание по правому краю */
  padding: 20px;
}

.grayBlock {
  position: absolute;
  background-color: #313131;
  padding: 20px;
  top: 110px;
  width: 420px;
  height: 340px;
  margin-left: 840px; /* Прижимаем к правому краю */
  margin-top: 150px;
  border-radius: 15px;
  
}

.overlayImage {
  position: absolute;
  width: 500px;
  height: 500px;
  left: -55px;
  top: -20px;
  object-fit: cover;
  background-color: #ffffff00;
}

