.titlee{
    font-size: 64px;
    color: white;
    padding-left: 160px;
    padding-top: 50px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

